/*!
 * Copyright 2017 Sangkon Han
 */

body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family:'NotoSerifKr-ExtraLight', serif !important; 
}

.intro-header {
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  text-align: center;
  color: #777777;
}

.intro-message {
  position: relative;
  padding-top: 40%;
  padding-bottom: 10%;
}

.intro-message > h1 {
  margin: 0;
  font-size: 2em;
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-message > a {
  color: #f8f8f8;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.intro-divider {
  width: 80%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media(max-width:767px) {
  .intro-message {
    padding-top: 70%;
    padding-bottom: 20%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  .intro-divider {
    width: 100%;
  }
}

.place {
  padding: 30px 0px;
  background-color: #f8f8f8;
}

.place > container > row {
  width: 90%;
}

.place-heading {
  text-align: center;
  margin-bottom: 30px;
}

.place-heading-spacer {  
  width: 80%;
  border-top: 3px solid #e7e7e7;
}

p.copyright {
  margin: 15px 0 0;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}